.container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 15px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.link {
    text-decoration: none;
    color: inherit;

    &-text {
        border-bottom: 2px solid var(--secondary-color);
        padding-bottom: 2px;
        transition: color 0.3s, border-bottom 0.3s;

        &:hover {
            color: var(--secondary-color);
            border-bottom: 2px solid transparent;
        }
    }
}

.horizontal-list {
    & .list-item {
        display: inline-block;
    }
}

.section__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.7rem;
    padding: 90px 0 30px 0;
    text-align: center;

    &:before,
    &:after {
        content: '';
        display: inline-block;
        height: 3px;
        width: 25px;
        background: #cf142b;
        margin: 0 15px;
    }
}

.has-p {
    & p {
        margin-bottom: 20px;
    }

    & p:last-child {
        margin-bottom: 0;
    }
}

.has-icon {
    display: flex;
    align-items: center;
}

.btn {
    outline: none;
    padding: 10px 20px;
    color: var(--text-color);
    font-size: 1.1rem;
    line-height: 1.1rem;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    transition: background 0.3s, color 0.3s;
    appearance: none;
    text-align: center;

    &-fill {
        background: var(--secondary-color);
        border: none;

        &:hover {
            background: var(--main-color);
        }
    }

    &-border {
        border: 1px solid var(--secondary-color);
        background: rgba(207, 20, 43, 0.1);

        &:hover {
            background: var(--secondary-color);
        }
    }
}

.section__footer {
    text-align: center;
    padding: 20px 0;

    & a,
    & button {
        display: inline-block;
        margin: 0 10px;
    }
}

.h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}