@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-100-normal.woff2') format('woff2'), url('../fonts/montserrat-100-normal.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-400-normal.woff2') format('woff2'), url('montserrat-400-normal.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-700-normal.woff2') format('woff2'), url('../fonts/montserrat-700-normal.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.woff2?13308272') format('woff2'), url('../fonts/fontello.woff?13308272') format('woff'), url('../fonts/fontello.svg?13308272#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    font-size: 1.1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--secondary-color);
}

.icon-facebook-circled:before { content: '\e800'; }
.icon-phone:before { content: '\e801'; }
.icon-location:before { content: '\e802'; }
.icon-clock:before { content: '\e803'; }
.icon-rouble:before { content: '\f158'; }
.icon-instagram:before { content: '\f16d'; }