.gallery {

    &__content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: relative;
    }

    &__item {
        overflow: hidden;
        height: 300px;
        width: 30%;

        &-big {
            width: 70%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
}