.menu {

    &-carousel {
        margin: 0 -10px;
    }

    &-item {
        margin: 0 10px;

        &__img-wrapper {
            overflow: hidden;
        }

        &__img {
            display: block;
            max-width: 100%;
            object-fit: cover;
        }

        &__title {
            font-weight: bold;
            margin: 20px 0;
        }

        &__price {
            display: inline-block;

            &:after {
                content: "Р";
                font-weight: bold;
                font-size: 18px;
                display: inline-block;
                margin-left: 5px;
                color: var(--secondary-color);
            }
        }
    }
}