.slick-slide {
    outline: none;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-dots {
    position: static;
    margin-top: 30px;

    & li button {
        border: 3px solid var(--text-color);
        border-radius: 100%;
        width: 15px;
        height: 15px;
    
        &:before {
            content: '';
        }
    }

    & li.slick-active button {
        border-color: var(--secondary-color);
    }
}