.special {

    &__content {
        position: relative;
        height: 500px;
    }

    &__desc {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 0;
        width: 45%;
        max-height: 450px;
        background-color: var(--text-color);
        color: var(--main-color);
        padding: 30px;
        z-index: 2;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
        border-left: 3px solid var(--secondary-color);

        & p {
            margin-bottom: 0;
        }
    }

    &__title {
        font-weight: bold;
        margin-bottom: 20px;
    }

    &__img-wrapper {
        overflow: hidden;
        position: relative;
        width: 60%;
        height: 100%;
        margin-left: auto;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}