@charset "UTF-8";
:root {
  --main-color: #1e1e1e;
  --secondary-color: #cf142b;
  --text-color: #fff;
  --subtext-color: #c2c2c2;
  --font-size: 16px;
  --font-family: "Montserrat";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: var(--font-family), sans-serif;
  font-size: var(--font-size);
  color: var(--text-color);
}

.body {
  position: relative;
  background: url("../img/body.jpg") 0 0/cover no-repeat fixed;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat-100-normal.woff2") format("woff2"), url("../fonts/montserrat-100-normal.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat-400-normal.woff2") format("woff2"), url("montserrat-400-normal.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat-700-normal.woff2") format("woff2"), url("../fonts/montserrat-700-normal.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.horizontal-list .list-item {
  display: inline-block;
}

.section__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 1.7rem;
  padding: 60px 0 30px 0;
  text-align: center;
}

.section__title:before, .section__title:after {
  content: '';
  display: inline-block;
  height: 3px;
  width: 25px;
  background: #cf142b;
  margin: 0 15px;
}

.has-p p {
  margin-bottom: 20px;
}

.has-p p:last-child {
  margin-bottom: 0;
}

.btn {
  outline: none;
  border: 1px solid var(--secondary-color);
  background: rgba(207, 20, 43, 0.1);
  padding: 10px 20px;
  color: var(--text-color);
  font-size: 1.1rem;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.btn:hover {
  background: var(--secondary-color);
}

.section__footer {
  text-align: center;
  padding: 20px 0;
}

.section__footer a,
.section__footer button {
  display: inline-block;
  margin: 10px;
}

.header {
  background-color: var(--main-color);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
}

.header__contacts {
  margin-bottom: 20px;
  opacity: 1;
  color: var(--subtext-color);
  font-size: 0.8rem;
}

.header__contacts .horizontal-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-menu {
  font-weight: 400;
}

.header__nav-menu .horizontal-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__nav-menu .list-item {
  margin-right: 20px;
}

.header__nav-menu .list-item:last-child {
  margin-right: 0;
}

.burger-button {
  display: none;
}

.hero {
  position: relative;
  overflow: hidden;
  min-height: 300px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

@-webkit-keyframes animatedBg {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes animatedBg {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes animatedBg1 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes animatedBg1 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hero__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  will-change: transform, opacity;
}

.hero__img-first {
  width: 100%;
  height: 100%;
  background: url("../img/menu-2.jpg") center/cover no-repeat;
  -webkit-animation: animatedBg 4s infinite;
          animation: animatedBg 4s infinite;
}

.hero__img-second {
  width: 100%;
  height: 100%;
  background: url("../img/menu-1.jpg") center/cover no-repeat;
  -webkit-animation: animatedBg1 4s infinite;
          animation: animatedBg1 4s infinite;
}

.logo {
  width: 80%;
  margin-bottom: 40px;
}

.logo-block {
  text-align: center;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__item {
  width: 50%;
  overflow: hidden;
}

.about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  height: 100%;
  color: var(--main-color);
  background-color: var(--text-color);
}

.about__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-carousel {
  margin: 0 -10px;
}

.menu-item {
  margin: 0 10px;
}

.menu-item__img-wrapper {
  overflow: hidden;
}

.menu-item__img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-item__title {
  font-weight: bold;
  margin: 20px 0;
}

.menu-item__price {
  display: inline-block;
}

.menu-item__price:after {
  content: "\20BD";
  font-size: 18px;
  display: inline-block;
  margin-left: 10px;
  color: var(--secondary-color);
}

.news-carousel__item {
  position: relative;
  min-height: 400px;
  background-image: url("../img/menu-2.jpg");
  background-position: center;
  background-size: cover;
  outline-color: var(--secondary-color);
}

.news-carousel__item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.news-carousel__inner {
  position: absolute;
  bottom: 0;
  padding: 30px;
  z-index: 2;
}

.news-carousel__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.news-carousel__time {
  display: inline-block;
  padding: 5px 10px;
  background: var(--secondary-color);
  margin-bottom: 20px;
}

.news-carousel__title {
  text-transform: uppercase;
  line-height: 1.5rem;
}

.special__content {
  position: relative;
  height: 500px;
}

.special__desc {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 0;
  width: 45%;
  background-color: var(--text-color);
  color: var(--main-color);
  padding: 30px;
  z-index: 2;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
  border-left: 3px solid var(--secondary-color);
}

.special__desc p {
  margin-bottom: 0;
}

.special__title {
  font-weight: bold;
  margin-bottom: 20px;
}

.special__img-wrapper {
  overflow: hidden;
  position: relative;
  width: 60%;
  height: 100%;
  margin-left: auto;
}

.special__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.blockquote {
  position: relative;
  padding: 35px 75px;
}

.blockquote:before {
  top: -40px;
  left: 0;
  content: "“";
}

.blockquote:after {
  bottom: -30px;
  right: 0;
  content: "”";
}

.blockquote:before, .blockquote:after {
  line-height: 200px;
  width: 80px;
  height: 80px;
  position: absolute;
  font-size: 14.6875rem;
  color: var(--secondary-color);
  opacity: 0.2;
}

.blockquote-wrapper {
  padding: 50px 0;
}

.blockquote__text {
  text-align: center;
  line-height: 1.5rem;
}

.blockquote__footer {
  text-align: center;
  color: var(--subtext-color);
  position: relative;
  padding-top: 20px;
}

.blockquote__footer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: block;
  width: 20%;
  height: 3px;
  background: var(--secondary-color);
  opacity: 0.3;
}

.review__content {
  text-align: center;
  margin-top: 50px;
}

.gallery__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.gallery__item {
  overflow: hidden;
  height: 300px;
  width: 30%;
}

.gallery__item-big {
  width: 70%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.gallery__img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  background: var(--text-color);
  color: var(--main-color);
  border-left: 3px solid var(--secondary-color);
  padding: 30px;
}

#map {
  width: 50%;
  height: 300px;
}

.copyright {
  text-align: center;
  line-height: 50px;
  background: var(--main-color);
}

.slick-slide {
  outline: none;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  position: static;
  margin-top: 30px;
}

.slick-dots li button {
  border: 3px solid var(--text-color);
  border-radius: 100%;
  width: 15px;
  height: 15px;
}

.slick-dots li button:before {
  content: '';
}

.slick-dots li.slick-active button {
  border-color: var(--secondary-color);
}

@media (min-width: 1900px) {
  .contacts__content,
  .news__content {
    max-width: 1600px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .header__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__contacts {
    margin-bottom: 0;
  }
  .header__contacts .horizontal-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav-menu {
    display: none;
  }
  .burger-button {
    display: block;
  }
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__item {
    width: 100%;
  }
  .about__item:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .about__item:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about__item:nth-child(3) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .about__item:nth-child(4) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .about__img {
    height: 200px;
  }
  .special__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 300px;
  }
  .special__desc {
    position: static;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .gallery__item {
    width: 40%;
    height: 250px;
  }
  .gallery__item-big {
    width: 60%;
    height: 100%;
  }
}

@media (max-width: 600px) {
  .about__item:nth-child(3) {
    display: none;
  }
  .about__item:nth-child(4) {
    display: none;
  }
  .special__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .special__desc,
  .special__img-wrapper {
    width: 100%;
  }
  .special__desc {
    border-left: none;
    border-top: 3px solid var(--secondary-color);
  }
  .blockquote {
    padding: 0;
  }
  .blockquote:before, .blockquote:after {
    content: '';
  }
  .blockquote__text {
    text-align: justify;
  }
  .gallery__item {
    height: 150px;
  }
  .gallery__item-big {
    height: 100%;
  }
}
